/*span.eds_counter {
    font: 800 40px system-ui;
    content: counter(count);
    animation: counter 5s linear infinite alternate;
    counter-reset: count 0;
}

@keyframes counter {
    0% {
        counter-increment: count 0;
    }

    10% {
        counter-increment: count 1;
    }

    20% {
        counter-increment: count 2;
    }

    30% {
        counter-increment: count 3;
    }

    40% {
        counter-increment: count 4;
    }

    50% {
        counter-increment: count 5;
    }

    60% {
        counter-increment: count 6;
    }

    70% {
        counter-increment: count 7;
    }

    80% {
        counter-increment: count 8;
    }

    90% {
        counter-increment: count 9;
    }

    100% {
        counter-increment: count 10;
    }
}*/

/* Countdown*/
#countdown {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    border-radius: 30px;
    background: #f39200;
}

    #countdown > div {
        padding: 10px;
        border-radius: 8px;
       
        display: inline-block;
    }

    #countdown div > span {
       /* border-radius: 50%;
        background: #f39200;*/
        display: inline-block;
    }

    #countdown .label {
        padding-top: 5px;
        font-size: 16px;
    }